<div class="container">
  <h1>VICTOR OGUNSUSI CV</h1>
  <div class="profile">

    <div class="profile-head">
      <div class="hero-img">

      </div>
      <div class="slide-right">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="slide-left">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="blur"></div>
    </div>
    <p>Hardworking and reliable undergraduate currently studying Electrical
      and Electronics Engineering in Covenant University. Skilled in
      Frontend development using high-level languagess like JavaScript and
      its framework ReactJs, HTML and CSS, UI/UX design, CAD design and C
      programming. Offering versatitlity to keep up in the demanding
      soceity</p>
  </div>
  <div class="projects">
    <h3>Top Projects</h3>
    <div class="projects-container">

    </div>
    <div class="buttons">
      <div class="move-left">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="move-right">
        <i class="fa-solid fa-chevron-right"></i>
      </div>

    </div>

  </div>
  <div class="certificates">
    <h3>Certifications</h3>
    <div class="certificates-container">

    </div>
    <div class="buttons">
      <div class="jump-left">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="jump-right">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>

  </div>
  <div class="form-container">
    <form action="https://formspree.io/f/xqkowery" method="POST">
      <h3>Contact Victor</h3>
      <input type="text" name="Name" id="name" placeholder="Your Name" required>
      <input type="email" name="Email" id="email" placeholder="Email id" required>
      <input type="text" name="Phone" id="phone" placeholder="Phone no." required>
      <textarea id="message" name="Feedback" rows="4" placeholder="Enter your feedback"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</div>